<div class="container">
  <div class="main-homepage">
    <div class="header-top my-5">
      <hr>
      <div class="header-top-text">
        <h1>Today's</h1>
        <div class="header-top-pink">
          <h1>watch party</h1>
        </div>
        <hr>
      </div>
    </div>
    <div class="party-users">
      <h1 class="text-center"><%= @party.name %></h1>
      <% @party.users.each do |user| %>
        <div class="party-members">
          <span>
            <i class="fas fa-user-circle"></i>
          </span>
          <div>
            <p><%= user.name %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="div-invite">
      <h3 class="text-center">Do you want to invite your friends ?
        Share the link with your party</h3>
      <div data-controller="clipboard" data-clipboard-success-content="Copied!">
        <input type="text" value="Click the button to copy me!" data-clipboard-target="source"  <%= party_url(@party) %> />
        <button type="button" data-action="clipboard#copy" data-clipboard-target="button">Copy to clipboard</button>
      </div>
    </div>
    <div class="share-link">
      <p>Share with</p>
      <ul class="link-follow">
        <li>
          <%= link_to "#" do %>
            <i class="fa-brands fa-instagram"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa-brands fa-line"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa-brands fa-whatsapp"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <footer>
      &copy; Powered by Le Wagon
    </footer>
  </div>
</div>
<% if @party.has_match? %>
  <p>match</p>
<% end %>
