<% if !Membership.exists?(user: current_user, party: @party) %>
  <%   Membership.create(user: current_user, party: @party) %>
<% end %>
<div class="container">
  <div class="main-homepage">
    <div class="header-top">
      <div class="header-top-text mt-2">
        <h1>Today's</h1>
        <div class="header-top-pink">
          <h1>watch party</h1>
        </div>
      </div>
    </div>
    <div class="sub-container">
      <div class="party-users mt-2">
        <h3> Group name</h3>
        <div class="party-users-info">
          <p><%= @party.name %></p>
        </div>
        <% @party.users.each do |user| %>
          <div class="party-members">
            <span>
              <i class="fas fa-user-circle"></i>
            </span>
            <div>
              <p><%= user.name %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div>
      <div class="move-to-swipe">
        <%= link_to "Let's swipe", party_movies_path(@party), class: "button text-center m-4"%>
      </div>
      <div class="div-invite">
        <%= render "parties/copylink" %>
        <div class="share-link">
          <%= render "parties/icon" %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div>
<% if @party.has_match? %>
<div class="match-movie">
  <p >match</p>
  </div>
<% end %>
</div>
