<% if !Membership.exists?(user: current_user, party: @party) %>
  <%   Membership.create(user: current_user, party: @party) %>
<% end %>
<div class="container">
  <div class="main-homepage">
    <div class="header-top">
      <hr>
      <div class="header-top-text">
        <h1>Today's</h1>
        <div class="header-top-pink">
          <h1>watch party</h1>
        </div>
        <hr>
      </div>
    </div>
    <div class="sub-container">
      <div class="party-users">
        <h3> Group name</h3>
        <div class="party-users-info">
          <p><%= @party.name %></p>
        </div>
        <% @party.users.each do |user| %>
          <div class="party-members">
            <span>
              <i class="fas fa-user-circle"></i>
            </span>
            <div>
              <p><%= user.name %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="move-to-swipe">
        <%= link_to "Let's swipe", party_movies_path(@party), class: "button text-center m-4"%>
      </div>
      <div class="div-invite">
        <p>Share the link with your friends!</p>
        <div data-controller="clipboard" data-clipboard-success-content="Copied!" class="copy-link">
          <input type="text" value=" <%= party_movies_url(@party) %> " data-clipboard-target="source"/>
          <button type="button" data-action="clipboard#copy" data-clipboard-target="button"><i class="fa-regular fa-copy"></i></button>
        </div>
        <div class="share-link">
          <p>Share with</p>
          <ul class="link-follow">
            <li>
              <%= link_to "#" do %>
                <i class="fa-brands fa-instagram"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa-brands fa-line"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa-brands fa-whatsapp"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @party.has_match? %>
  <p>match</p>
<% end %>
