<% if !Membership.exists?(user: current_user, party: @party) %>
  <%   Membership.create(user: current_user, party: @party) %>
<% end %>
<div class="container">
  <div class="main-homepage">
    <div class="header-top">
      <div class="header-top-text mt-2">
        <h1>WELCOME TO</h1>
        <div class="header-top-pink">
          <h1><%= @party.name %></h1>
        </div>
      </div>
    </div>
    <div class="sub-container">
      <div class="party-users mt-2">
        <% @party.genres.each do |genre| %>
          <div class="chosen-genres mt-2">
            <%= genre.name %>
          </div>
        <% end %>
        <% @party.users.each do |user| %>
          <div class="party-members mt-3">
            <span class="align-items-center d-flex">
              <%= image_tag user.photo_url, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false, style: "margin-left: -16px" %>
              <p class="ms-3"><%= user.name %></p>
            </span>
            <div>
            </div>
            <div class="swipe-count">
              <i class="fa-solid fa-repeat"></i>
              <%= @party.swipes.where(user: user).count %>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <div class="move-to-swipe">
          <%= link_to "Let's choose", party_movies_path(@party), class: "button text-center m-4"%>
        </div>
        <div class="div-invite">
          <%= render "parties/copylink" %>
          <div class="share-link">
            <%= render "parties/icon", url: party_url(@party) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# <div class="mt-2">
  <h3 class="movie-tonight"> Movie for tonight </h3>
  <div class="matched-movie">
    <% if @party.has_match? %>
<%# <% @party.accepted_movies.each do |movie| %>
  <%# <%= movie.title %>
  <%# <% end %>
  <%# <% end %>
  <%# </div>
</div> %>
