<div data-controller="swiper">
  <div class="tinder" data-swiper-target= "container">
    <div class="tinder--status">
      <i class="fa fa-remove" data-action="click->swiper#rejected"></i>
      <i class="fa fa-heart" data-action="click->swiper#accepted"></i>
    </div>
    <div class="tinder--cards" data-swiper-target="cards">
      <% @movies.each do |movie| %>
        <div class="tinder--card" data-swiper-target="card" data-url="<%= party_swipes_path(@party, @swipe) %>" data-movie-id="<%= movie.id %>">
          <%= image_tag movie.poster_url %>
          <div class="move-details bg-white position-relative">
            <div class="movie-title-font">
              <p><%= movie.title %>
                <span>
                  (<%= movie.year %>)
                </span>
              </p>
            </div>
            <div class="movie-details-rating">
              <p><%= movie.rating %>%</p>
            </div>
            <div class="movie-details-duration">
              <p>1hr 20 mins</p>
            </div>
            <div class="movie-details-genre">
              <% movie.genres.each do |genre| %>
                <div class="movie-details-genre-top">
                  <p ><%= genre.name %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="movie-card-info d-none" data-action="click->swiper#showDetails">
          <div class="caret-up">
            <i class="fa-solid fa-angle-up"></i>
          </div>
          <div class="title-above my-3 p-3">
            <h3><%= movie.title %></h3>
          </div>
          <div class="tinder--card-genre">
            <% movie.genres.each do |genre| %>
              <div class="each-genre">
                <p ><%= genre.name %></p>
              </div>
            <% end %>
          </div>
          <div class="tinder--card-details p-3">
            <div class="rating m-0">
              <span class="star"><i class="fa-solid fa-star"></i></span>
              <p class="m-0"><%= movie.rating %>%</p>
              <div class="year-absolute">
                <div>
                  <p class="m-0 year-ptag"> <%= movie.year %></p>
                </div>
                <div class="d-flex align-items-center">
                  <p class="text-white text-start m-0"><%= movie.runtime %> mins </p>
                </div>
              </div>
            </div>
          </div>
          <div class="tinder--card-overview mt-3">
            <p><%= movie.overview %></p>
          </div>
          <div class="tinder--card-director mt-3">
            <p>DIRECTOR : <%= movie.director %></p>
          </div>
          <div class="tinder--card-cast mt-3">
            <p>CAST : <%= movie.cast %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# <div class="text-center">
    <iframe width="auto" height="auto" src="https://www.youtube.com/embed/crhL1eOjf4U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div> %>
