<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div style="position: absolute; left: 5px;">
    <% if current_user.present? %>
      <div class="d-flex ms-2 mt-2">
        <% if @party&.id %>
          <%= link_to party_path(@party) do  %>
            <%= image_tag current_user.photo_url, class: "avatar",'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        <% else %>
          <%= image_tag current_user.photo_url, class: "avatar",'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <% if @party %>
          <% @party.users.where.not(id: current_user).each do |user| %>
            <%= image_tag user.photo_url, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false, style: "margin-left: -16px" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="container-fluid d-flex justify-content-center">
    <div>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "nanilogo.png", class: "nanilogo" %>
      <% end %>
    </div>
  </div>
</div>
