<div class="container">

  <div class="swipecard">
    <%= simple_form_for [party, swipe] do |f| %>
      <%= f.input :movie_id, as: :hidden, input_html: { value: movie.id } %>
      <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
      <%= f.submit 'LIKE', class: 'btn btn-like' %>
    <% end %>
    <%= simple_form_for [party, swipe] do |f| %>
      <%= f.input :movie_id, as: :hidden, input_html: { value: movie.id } %>
      <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
      <%= f.submit 'LIKE', class: 'btn-dislike' %>
    <% end %>
  </div>
</div>
