<div class="container-top h-100 mt-3">
  <div class="match-top">
    <div class="header-top">
      <div class="header-top-text mb-2">
        <h1 class="text-white mt-3">
          It's a <span style="color: #f30bb2;">match</span>!!!
        </h1>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="title-box">
      <div class="poster-img text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @movie.poster_url %>)">
        <% if @movie.netflix_url %>
          <div>
            <%= link_to @movie.netflix_url, class: "netflix_url, mt-4 mx-4 flex-grow-0 text-decoration-none play btn" do %>
              <i class="fa-solid fa-circle-play"></i>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <div class="movie-detail px-4 pb-2 ">
    <div class="movie-detail-div2 p-2">
      <div class="d-flex justify-content-between mt-2">
        <div>
          <div class="d-flex align-items-center">
            <p class="match-details2 text-white text-start me-3">YEAR  :</p>
            <p class="text-white text-start mt-2">  <%= @movie.year %></p>
          </div>
          <div class="d-flex align-items-center">
            <p class="match-details2 text-white text-start me-3">RUNTIME  :</p>
            <p class="text-white text-start mt-2 mr-2">  <%= @movie.runtime %> mins </p>
          </div>
        </div>
        <div class="rating align-self-start mt-2">
          <span class="star"><i class="fa-solid fa-star"></i></span>
          <h3 class=""><%= @movie.rating %>%</h3>
        </div>
      </div>
      <div class="tinder--card-cast text-white mt-3">
        <% end %>
        <p class="match-details">OVERVIEW</p>
      </div>
      <p class="text-white text-start"><%= @movie.overview %></p>
      <div class="tinder--card-director text-white mt-3">
        <p class="match-details">DIRECTOR</p>
        <p><%= @movie.director %></p>
      </div>
      <div class="tinder--card-cast text-white my-3 pb-3">
        <p class="match-details">CAST</p>
        <%= @movie.cast %></p>
    </div>
  </div>
</div>
</div>
