<div class="container-top h-100 mt-3">
  <div class="match-top">
    <div class="header-top">
      <div class="header-top-text mb-2">
        <h1 class="title-white mt-3">Your movie</h1>
        <div class="header-top-pink">
          <h1><%= @party.accepted_movies.first.title %></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="title-box">
      <div class="poster-img text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @party.accepted_movies.first.poster_url %>)">
      </div>
    </div>
  </div>
  <div class="movie-detail p-4 ">
    <div class="movie-detail-div ">
      <h1 class="text-white text-start pl-3" ><%= @party.accepted_movies.first.title %></h1>
    </div>
    <div class="movie-detail-div2 p-2">
      <div class="rating">
        <span class="star"><i class="fa-solid fa-star"></i></span>
        <h3 class=""><%= @party.accepted_movies.first.rating %>/10</h3>
      </div>
      <p class="text-white text-start mt-2">YEAR : <%= @party.accepted_movies.first.title %></p>
      <p class="text-white text-start">OVERVIEW : <%= @party.accepted_movies.first.overview %></p>
      <div class="tinder--card-director text-white mt-3">
        <p>DIRECTOR : <%= @movie.director %></p>
      </div>
      <div class="tinder--card-cast text-white mt-3">
        <p>CAST : <%= @movie.cast %></p>
      </div>
     
    </div>
  </div>
  <%# <div class="text-center">
    <iframe width="auto" height="auto" src="https://www.youtube.com/embed/crhL1eOjf4U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div> %>
</div>
